@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-vendsans: "Vend Sans", sans-serif;
  --font-germania: "Germania One", cursive;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vendsans);
}
.title {
  font-family: var(--font-germania);
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pingOnce {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
