@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-vendsans: "Vend Sans", sans-serif;
  --font-germania: "Germania One", cursive;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vendsans);
}
.title {
  font-family: var(--font-germania);
}
